* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lessons__container {
    padding: 25px 50px;
    text-align: center;
}

.lessons__title {
    margin-bottom: 25px;
}

.error {
    width: 100%;
    text-align: center;
    color: red;
    font-weight: 600;
    font-size: 18px;
}

thead {
    font-size: 20px;
    background-color: rgba(98, 128, 112, 1);
    color: aliceblue;
}

tr {
    height: 70px;
}

tr:nth-child(even) {
    background-color: rgba(98, 128, 112, .3);
    ;
}